FAHARI_PROJECT_REF=mvgpngbwlrhhzzxwiqrt
FAHARI_PROJECT_URL=https://mvgpngbwlrhhzzxwiqrt.supabase.co
FAHARI_ANON_KEY=
FAHARI_SERVICE_ROLE_KEY=
FAHARI_REGISTRATION_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=

